# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.stash
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/Makefile
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_button.cpp
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_game.cpp
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_predefs.h
blair_from_grid.sh
blair_to_bbb.sh
blair_to_grid.sh
.DS_Store
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_cc_piece.cpp
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_cc_grid.cpp
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/moc_myrect.cpp
build-Chinese_Chess-Desktop_Qt_5_15_2_clang_64bit-Debug/qrc_res.cpp
Chinese_Chess/Chinese_Chess.pro.user.d5d4cc0
*.sh
